<!DOCTYPE HTML>
<html>
    <head>
        <title>hello</title>
        <script language="Javascript">
            function change (picurl, picurl2) {
                document.picture1.src = picurl;
                document.picture2.src = picurl2;
            }
        </script>
    </head>

    <body>
        <img src="" name="pic1" />
        {% for song in list %}
            <img src="picture/{{song}}" height="200" width="200" />
            <p>{{song}}</p>
        {% endfor %}
    </body>
</html>
